<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kai.mapper.MessageMapper">

    <select id="getMessageList" resultType="Message">
        select * from message
    </select>

    <select id="getMessageById" resultType="Message">
        select * from message where mid = #{mid}
    </select>

    <insert id="newMessage" parameterType="Message">
        insert into message (uid,mcontent) values (#{uid},#{mcontent})
    </insert>

    <update id="upMessage" parameterType="Message">
        update message set uid=#{uid},mcontent=#{mcontent} where mid = #{mid}
    </update>

    <delete id="deleteMessage" parameterType="int">
        delete from message where mid = #{mid}
    </delete>
</mapper>
