<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>游戏列表</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="padding: 20px;box-shadow: 1px 1px 2px #888888;">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/home}">首页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/userNews}">新闻</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/gamelist}">游戏库</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/article/artlist}">论坛</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/usercontent/}+${session.loginUser.getId()}" tabindex="-1" aria-disabled="true">个人信息</a>
        </li>
    </ul>
</div>
<div class="container">
<div style="padding-top: 20px"></div>
    <h2><a class="btn btn-sm btn-success" th:href="@{/markdown/edit}">发布帖子</a></h2>
<div class="list-group" th:each="art:${artlist}">
    <a th:href="@{/article/get/}+${art.getId()}"   class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1" th:text="${art.title}"></h5>
            <small th:text="${art.sid}"></small>
        </div>
        <p class="mb-1" th:text="${art.author}"></p>
    </a>
</div>
</div>
</body>
</html>