<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" th:action="@{/reg}" method="post">
    <h1 class="h3 mb-3 font-weight-normal">注册成为用户</h1>
    <label class="sr-only">用户名</label>
    <input type="text" name="username" class="form-control" placeholder="Username" >
    <label class="sr-only">密码</label>
    <input type="password" name="password" class="form-control" placeholder="Password">
    <button type="submit" class="btn btn-lg btn-primary btn-success">注册</button>
</form>



</body>

</html>