<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>game论坛主页</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/users/game.css}" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<div class="container" style="padding: 20px;box-shadow: 1px 1px 2px #888888;">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/home}">首页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/userNews}">新闻</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/gamelist}">游戏库</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/article/artlist}">论坛</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/usercontent/}+${session.loginUser.getId()}" tabindex="-1" aria-disabled="true">个人信息</a>
        </li>
    </ul>
</div>
<div class="container">


<div style="padding-top: 20px"></div>

            <form th:action="@{/userClock}" method="post">
                <div class="jumbotron">
                    <h1 class="display-4">签到大作战!</h1>
                    <input type="hidden" readonly name="uid" class="form-control" th:value="${session.loginUser.getId()}">
                    <input type="hidden" name="clocks" class="form-control" value="1">
                    <hr class="my-4">
                    <button type="submit" class="btn btn-primary">签到</button>
                </div>

            </form>
</div>

<script type="text/javascript" th:href="@{/js/jquery-3.2.1.slim.min.js}" ></script>
<script type="text/javascript" th:href="@{/js/popper.min.js}" ></script>
<script type="text/javascript" th:href="@{/js/bootstrap.min.js}" ></script>
</body>
</html>